@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Strona umożliwia sprawdzenie kursów walut</h1>
    <p>Czas serwera strony: @DateTime.Now</p>
</div>

